<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout">
<head>
<title>代理用户修改</title>
<script th:src="@{/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
		
				$('#userForm').bootstrapValidator({
					message: 'This value is not valid',
			        feedbackIcons: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields:{
			        
			        	roleid:{
			        	
			        	validators:{
			        		notEmpty:{
			        			message: '请选择用户角色!'
			        		}	
			        	}
			        	
			        	},
			        
			        
			        	name:{
			        			message:"",
			        			validators:{
			        				notEmpty: {
			                        	message: '用户名不能为空!'
			                    }
			                   
			        			}
			        	},
			        	pwd:{
			        		validators:{
			        			notEmpty: {
			                        	message: '密码不能为空!'
			                    },
			                    stringLength:{
			                    	min:6,
			                    	message:'密码长度不小于6位。'
			                    }
			                    
			        		}
			        	
			        	}
			        }
						
				});		
		});

</script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row center-block" >
			<div class="col-lg-12">
				<div class="col-lg-6">
					<ol class="breadcrumb">
						<li><a href="#">客户管理</a></li>
						<li><span>添加账户</span></li>
					</ol>
				</div>
			</div>
			<div class=" col-lg-6">
				<div class="main-box center-block">
					<header class="main-box-header">
					</header>
					<div class="main-box-body">
						<form th:action="@{/user/saveUser}" method="post"   id="userForm">
							<div class="form-group">
								<label >角色：</label> 
								<div class="radio">
									<input type="radio" name="roleid" value="1" id="optionsRadios1" th:checked="${user.roleid}==1"/>
									<label for="optionsRadios1">维护</label>
									<input type="radio" name="roleid" value="2" id="optionsRadios2"  th:checked="${user.roleid}==2"/>
									<label for="optionsRadios2">主管</label>
									<input type="radio" name="roleid" value="3" id="optionsRadios3" th:checked="${user.roleid}==3"/>
									<label for="optionsRadios3" >经理</label>
									<input type="radio" name="roleid" value="4" id="optionsRadios4" th:checked="${user.roleid}==4 or ${user.roleid}==null"  />
									<label for="optionsRadios4">客服</label>
								</div>
							</div>
							<div class="form-group">
								<label>登陆账号：</label>
								<div class="alert-danger fade in" id="loginname_cant_use" style="display:none">
									<i class="fa fa-ban fa-fw fa-lg"></i>
									<strong>此账号已被使用,请更换账号!</strong>
								</div>
								<div class="alert-success fade in" id="loginname_can_use" style="display:none">
									<i class="fa fa-check-circle fa-fw fa-lg"></i>
									<strong>账号可用!</strong>
								</div>
								<input type="text" class="form-control" name="name"  th:value="${user.name}"/>
								<input  hidden="hidden"  name="userId" th:value="${user.userId}" />
								<input  hidden="hidden"  name="status" th:value="${user.status}" />
							</div>
							<div class="form-group">
								<label>密码：</label>
								<input type="text" class="form-control" name="pwd" th:value="${user.pwd }" />
							</div>
							<div class="form-group">
								<label>部门：</label> <select class="form-control" name="deptId">
									<option  value="0">无 </option>
									<option th:each="t:${deptlist}" th:text="${t.name}"
										th:value="${t.deptId}"
										th:selected="(${t.deptId} == ${user.deptId})"></option>
								</select>							
							

							</div>
							<div class="profile-message-btn center-block text-center">
								<input type="submit" class="btn btn-success" value="提交"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>
