<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="common/layout">
<head>
    <title>短信模板列表</title>
    <script th:src="@{/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    var msg = [[${msg}]];
	if( msg != null ){
		alert(msg);
	};
    //条件查询数据校验
    function check() {
    }
    </script>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <div class="clearfix">
                                    <form method="post" th:action="@{/dept/listDept}" onsubmit="return check()">
                                        <div class="filter-block pull-right">
											<a th:href="@{/dept/editDept}" class="btn btn-info">新增小组</a>
                                        </div>
                                    </form>
                                </div>
                            </header>
                            <div class="main-box-body clearfix">
                                <div class="table-responsive clearfix">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
												<th>小组名称</th>
												<th>上级小组</th>
												<th>小组负责人</th>
												<th>创建时间</th>
												<th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                              <tr th:each="item,itemStat:${deptList}">
												<td th:title="${item.name }" th:text="${item.name}"></td>
												<td th:title="${item.pid }" th:text="${item.pid}"></td>
												<td th:title="${item.user }" th:text="${item.user}"></td>
												<td th:title="${item.ctime }" th:text="${item.ctime}"></td>
												<td><a th:href="@{/dept/editDept(deptId=${item.deptId})}" class="btn btn-info">修改</a>
												<a th:href="@{/dept/deleteDept(deptId=${item.deptId})}" class="btn btn-info">删除</a>
												
												</td>
                                            </tr>         													
                                        </tbody>
                                    </table>
                                    <div th:with="linkUrl='',start=0,total=10,pageSize=10">
                                    <div th:replace="common/pagination :: pagenav"></div>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
